<h1>Editing mark</h1>

<% form_for(@mark) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mark %><br />
    <%= f.text_field :mark %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @mark %> |
<%= link_to 'Back', marks_path %>