<h1>New student</h1>

<% form_for(@student) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ime %><br />
    <%= f.text_field :ime %>
  </p>
  <p>
    <%= f.label :prezime %><br />
    <%= f.text_field :prezime %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', students_path %>