<h1>Editing subject</h1>

<%= error_messages_for :subject %>

<% form_for(:subject, @subject, :url => student_subject_path(@student, @subject), :html => {:method => :put}) do |f| %>
  <p>
		<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', student_subject_path(@student, @subject) %> |
<%= link_to 'Back', student_subjects_path(@student) %>
