<h1>New subject</h1>

<%= error_messages_for :subject %>

<% form_for(:subject, @subject, :url => student_subjects_path(@student)) do |f| %>
  <p>
		<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', student_subjects_path(@student) %>